<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo mt-5" data-aos="zoom-in"><img src="assets/img/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">¡Biblioteca Unicah!</h1>
        <form class="form-signin">
      <h3 data-aos="zoom-in"> Inicia Sesion</h3>
    
    <div class="row">
        <label for="inputEmail" class="sr-only"></label>
        <input data-aos="fade-up" autocomplete="off" type="email" id="inputEmail" class="form-control mt-3" placeholder="Correo electronico" required autofocus>
       
        <label for="inputPassword" class="sr-only">Password</label>
        <input data-aos="fade-up" autocomplete="off" type="password" id="inputPassword" class="form-control mt-3" placeholder="Contraseña" required>
        
    </div>
     
      <div class="checkbox mb-3">
        <label data-aos="zoom-in" >
          <input class="mt-3" type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button data-aos="fade-up" class="btn btn-lg btn-success btn-block mb-3" type="submit">Iniciar Sesion</button>
      <p>No tienes cuenta, entonces <a routerLink="../registrar">registrate</a> </p>
      <p class="mt-5 mb-3 text-muted">&copy; 2020 - Grupo 2</p>
    </form>
    </div>
  </section><!-- End Hero --> 
