<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Comedia</h2>
      </div>

      <hr>
      <hr>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/comedia1.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>Diario de una dama de provincias</h3>
            <br>
            <p class="font-italic"> E.M. Delafield </p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i> L. 269.69</li>
              <input type="hidden" value="El cuaderno de Noah" #nombre>
              <input type="hidden" value="342.33" #precio>
              <input type="hidden" value="100" #envio2>
              <input type="hidden" value="1" #id2>
              
              <button type="submit" class="btn	btn-primary" (click)="guardar(id2.value,nombre.value ,precio.value,envio2.value)">Procesar!</button>
              <button type="submit" class="btn	btn-success" (click)="facturar()" style="margin-left: 10px;" [routerLink]="['/comedia']" >Facturar</button>
              <button type="submit" class="btn	btn-danger" (click)="eliminar()" style="margin-left: 10px;" [routerLink]="['/comedia']" >Eliminar</button>
              <app-compra *ngFor="let d of productos" [productos]="d"></app-compra>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/comedia2.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>Maldito Karma</h3>
            <br>
            <p class="font-italic"> David Safier </p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i> L. 146.99</li>
              <input type="hidden" value="El cuaderno de Noah" #nombre>
              <input type="hidden" value="342.33" #precio>
              <input type="hidden" value="100" #envio2>
              <input type="hidden" value="1" #id2>
              
              <button type="submit" class="btn	btn-primary" (click)="guardar(id2.value,nombre.value ,precio.value,envio2.value)">Procesar!</button>
              <button type="submit" class="btn	btn-success" (click)="facturar()" style="margin-left: 10px;" [routerLink]="['/comedia']" >Facturar</button>
              <button type="submit" class="btn	btn-danger" (click)="eliminar()" style="margin-left: 10px;" [routerLink]="['/comedia']" >Eliminar</button>
              <app-compra *ngFor="let d of productos" [productos]="d"></app-compra>
            </ul>
            
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/comedia3.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>El proyecto esposa</h3>
            <br>
            <p class="font-italic"> Graeme Simsion </p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i>L. 268.99</li>
            </ul>
            <button  name="cancelar" id="procesar" class="btn  btn-success mt-4" >Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/comedia4.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>Me vestire de medianoche</h3>
            <br>
            <p class="font-italic"> Terry Pratchett </p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i>L. 288.11</li>
              <input type="hidden" value="El cuaderno de Noah" #nombre>
              <input type="hidden" value="342.33" #precio>
              <input type="hidden" value="100" #envio2>
              <input type="hidden" value="1" #id2>
              
              <button type="submit" class="btn	btn-primary" (click)="guardar(id2.value,nombre.value ,precio.value,envio2.value)">Procesar!</button>
              <button type="submit" class="btn	btn-success" (click)="facturar()" style="margin-left: 10px;" [routerLink]="['/romance']" >Facturar</button>
              <button type="submit" class="btn	btn-danger" (click)="eliminar()" style="margin-left: 10px;" [routerLink]="['/romance']" >Eliminar</button>
              <app-compra *ngFor="let d of productos" [productos]="d"></app-compra>
            </ul>

          </div>
        </div>
      </div>
      <hr>
      <hr>
     
      
    </div>
  </section><!-- End About Us Section -->