<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre nosotros</h2>
        <p>Somos un pequeño negocio dedicado a la venta de libros digitales.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>¡No lo dudes y compra en nuestra biblioteca web!</h3>
            <p class="font-italic">
              Contamos con una amplia gama de libros con los precios mas bajos del mercado.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Libros en digitales.</li>
              <li><i class="bx bx-check-double"></i> Variedad de pagos.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->