<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Cuentos</h2>
      </div>

      <hr>
      <hr>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/cuento1.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>El almohadón de pluma</h3>
            <br>
            <p class="font-italic"> Horacio Quiroga</p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i> L. 341.77</li>
            </ul>
            <button  name="cancelar" id="procesar" class="btn  btn-success mt-4" >Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/cuento2.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>El Principito</h3>
            <br>
            <p class="font-italic"> Antoine De Saint-Exupéry </p>
            <br> 
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i> L. 4165.90</li>
            </ul>
            <button  name="cancelar" id="procesar" class="btn  btn-success mt-4" >Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/cuento3.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>El niño zombie</h3>
            <br>
            <p class="font-italic"> Kim Soo Hyun </p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i>L. 637.29</li>
            </ul>
            <button  name="cancelar" id="procesar" class="btn  btn-success mt-4" >Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <hr>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div align="center" class="image " >
            <img src="assets/img/libros/cuento4.jpeg" class="img-fluid text-center" alt="" width="50%" height="50%">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <br>
            <h3>El cuento del cortador de bambú</h3>
            <br>
            <p class="font-italic"> Iván Hernández Núñez</p>
            <br>
            <br>   
            <ul>
              <li><i class="bx bx-check-double"></i>L. 75.95</li>
            </ul>
            <button  name="cancelar" id="procesar" class="btn  btn-success mt-4" >Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <hr>
     
      
    </div>
  </section><!-- End About Us Section -->