<div class="container mt-3">
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del libro</th>
                <th scope="col">Precio</th>
                <th scope="col">Precio Envio</th>
                <th scope="col">SubTotal</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>

                <button  name="cancelar" id="procesar" class="btn btn-danger mt-3" style="margin: 10px" >Cancelar</button>

                <button name="cancelar" id="procesar" class="btn btn-primary mt-3" style="margin: 10px" >Procesar</button>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <button  name="cancelar" id="procesar" class="btn btn-danger mt-3" style="margin: 10px" >Cancelar</button>
                <button name="cancelar" id="procesar" class="btn btn-primary mt-3" style="margin: 10px" >Procesar</button>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <button  name="cancelar" id="procesar" class="btn btn-danger mt-3" style="margin: 10px" >Cancelar</button>
                <button name="cancelar" id="procesar" class="btn btn-primary mt-3" style="margin: 10px" >Procesar</button>
              </tr>
            </tbody>
            
        </table>

        <button type="button" class="btn btn-block btn-primary" style="margin: 10px">Procesar todo</button>
        <button type="button" class="btn btn-block btn-danger" style="margin: 10px">Cancelar todo</button>
    </div>
    
</div>
