<div class="container mt-3" data-aos="fade-up" >
    <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Envio</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Impuesto</th>
            <th scope="col">Total</th>

            
            
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" >{{productos.id}}</th>
            
            <td>{{productos.nombre}}</td>
            <td>{{productos.precio}}</td>
            <td>{{productos.envio}}</td>
            <td>{{productos.subtotal}}</td>
            <td>{{productos.impuesto}}</td>
            <td>{{productos.totalNeto}}</td>
            
          </tr>
        </tbody>
      </table>



    </div>  
    </div>
    
</div>
